<div class="input-block {{block}}__input-block js-float-block" ref="container">
    {{{ Label className="input-block__label" forEl=name text=label }}}
    {{{
        Input className="input-block__input js-float-input" type=type
        name=name id=name placeholder=label ref=name
        onValidate=onValidate cleanValidate=cleanValidate floatLabel=floatLabel
    }}}
    {{{ ErrorMessage className="input-block__error js-error" id="js-error-{{name}}" ref="error" message=errorMessage }}}
</div>
