<form method="{{method}}" action="{{action}}" className="{{className}}" id="{{id}}" ref="{{ref}}">
    {{{ InputBlock block="login" type="text" label="Логин" name="login" }}}
    {{{ InputBlock block="login" type="password" label="Пароль" name="password" }}}
    {{{ Button className="button form-block__button" type="submit" text="Войти" }}}
</form>
